@model IEnumerable<IotApp.Models.Device>

@{
    ViewData["Title"] = "Devices";
}


</style>

<h2>Devices</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var device in Model)
        {
            <tr>
                <td>@device.Name</td>
                <td>@device.Status</td>
                <td class="action-links">
                    <a asp-action="Edit" asp-route-id="@device.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@device.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@device.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
